<div class="leave-request-create-container">
    <h2>İzin Talebi Oluştur</h2>
    
    <form (ngSubmit)="onSubmit()">
      <label for="startDate">Başlangıç Tarihi:</label>
      <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" required>
      
      <label for="endDate">Bitiş Tarihi:</label>
      <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" required>
      
      <button type="submit">Gönder</button>
      <button (click)="goBack()">Geri Dön</button>
    </form>
    
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    
    
  </div>
  