.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-family:sans-serif;
  }
  .login-container input {
    width: 92%;
    margin: 10px 0;
    padding: 8px;
  }
  .login-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }
  .login-container button:hover {
    background-color: #0056b3;
  }
  