.leave-request-container {
    margin: 20px;
    font-family:sans-serif;
}

.leave-request-header {
    display: flex;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding: 10px 0;
    text-align: left;
}

.leave-request-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.leave-request-item {
    flex: 1;
    padding: 0 10px;
    text-align: center;
}

.text-green {
    color: rgb(17, 188, 17);
    font-weight: bold;
}

.text-red {
    color: red;
    font-weight: bold;
}

.text-orange {
    color: rgb(250, 179, 14);
    font-weight: bold;
}

.action-button-reject {
    background-color: tomato;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.action-button-approve {
    background-color: rgb(37, 194, 1);
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.action-button:hover {
    background-color: #0056b3;
}

.global-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.global-button:hover {
    background-color: #0056b3;
}

.leave-request-actions-global {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

h2 {
    margin-bottom: 20px;
}
