<div class="leave-request-container">
    <h2>
        Merhaba {{ userName }} 
        <span class="remaining-leaves">(Kalan izin günleriniz: {{ userRemainingLeaves }})</span>
    </h2>

    <form>
        <div class="leave-request-header">
            <div class="leave-request-item">Ad Soyad</div>
            <div class="leave-request-item">Kalan İzin Günleri</div>
            <div class="leave-request-item">İzin Başlangıç Tarihi</div>
            <div class="leave-request-item">İzin Bitiş Tarihi</div>
            <div class="leave-request-item">Durum</div>
            <div class="leave-request-item" *ngIf="isManagerOrHRManager">Aksiyon</div>
        </div>
        <div *ngFor="let request of leaveRequests" class="leave-request-row">
            <div class="leave-request-item">{{ request.employeeName }}</div>
            <div class="leave-request-item">{{ request.remainingLeaves }}</div>
            <div class="leave-request-item">{{ request.startDate | date: 'dd/MM/yyyy' }}</div>
            <div class="leave-request-item">{{ request.endDate | date: 'dd/MM/yyyy' }}</div>
            <div class="leave-request-item">
                <span
                    [ngClass]="{
                        'text-green': request.status === 'Approved',
                        'text-red': request.status === 'Rejected',
                        'text-orange': request.status === 'Pending'
                    }">
                    <ng-container *ngIf="request.status === 'Approved'">Onaylandı</ng-container>
                    <ng-container *ngIf="request.status === 'Rejected'">Reddedildi</ng-container>
                    <ng-container *ngIf="request.status === 'Pending'">Bekliyor</ng-container>
                </span>
            </div>
            <div class="leave-request-item" *ngIf="isManagerOrHRManager">
                <button class="action-button-approve" type="button" (click)="approveRequest(request.id)">Onayla</button>
                <button class="action-button-reject" type="button" (click)="rejectRequest(request.id)">Reddet</button>
            </div>
        </div>
    </form>

    <div class="leave-request-actions-global">
        <button class="global-button" type="button" (click)="createLeaveRequest()">İzin Talebi Oluştur</button>
        <button class="global-button" type="button" (click)="logout()">Çıkış Yap</button>
    </div>
</div>
